.h1{
    text-align: center;
}
.text{
    padding:30px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    padding: 30px;
}
button{
    padding: 10px;
    text-align: center;
    background-color: lavender;
    border-radius: 5%;
  
}