.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-color: blue;
    
    
}
.lesson{
    background-color: bisque;
    padding: 20px;
   

}
.scroll{
    overflow: scroll;
   
}
.title{
    text-align: center;
}
.code{
    padding:10px;
 
    background-color: aquamarine;
}
.topButtons{
    display: flex;
    justify-content: space-around;


}
.bgcolor{
    background-color: pink;
}
