.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-color: lightblue;
    
    
}
.lesson{
    background-color: lightsalmon;
    padding: 20px;
    text-align: center;
   

}
.scroll{
    overflow: scroll;
   
}
.title{
    text-align: center;
    background-color: lightblue;
}
.info{
    background-color: lightblue;
}    

.code{
    padding:10px;
    text-align: center;
    background-color: yellowgreen;
}
.topButtons{
    display: flex;
    justify-content: space-around;


}

body {
    background-color: lightblue;
  }
