#sidebar{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    width: 150px;
    height: 80vh;
    background-color: rgb(198, 202, 203);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
 
}


