.app {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 100px 1fr 60px;
  height: 100vh;
}
#header-container {
  grid-column: span 2;
  height: 60px;
}
#navbar-container {
  height: 60px;
  grid-column: span 2;
}
#sidebar-container {

  width: 150px;
  height: 80vh;
  
}

#footer-container {
 
  height: 60px;
}
