.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
   
}
.lesson{
    background-color: bisque;
    padding: 20px;
   

}
.scroll{
    overflow: scroll;
}
.title{
    text-align: center;
}
.code{
    padding:10px;
   
    background-color: aquamarine;
}
#border{
    border-style: solid;
}
.fontsize{
    font-size: xx-large;
}